/*RESET*/

:root {
    --primaria: blue;
    --bg1:  brown;
    --bg2: orange;
    --bg3: yellow;
    --padding: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    scroll-behavior: smooth;
    font-family: 'Merriweather', serif;
    font-size: 16px;
 
}

header,
footer {
    background-color: var(--bg1);
}

header,
aside,
main,
section,
article,
div,
footer {
    padding: var(--padding);
}

header{
    border-bottom: 2px solid var(--primaria);
}

footer{
    border-top: 2px solid var(--primaria);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primaria);
    font-size: 3rem;
    font-weight: 300;
    margin: 24px auto;
    text-align: center;
    text-transform: uppercase;    
}

h2,
h3 {
    color: var(--primaria);
    margin: 24px auto 16px;
    width: fit-content;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.1rem;
}

p {
    color: #222;
    line-height: 20px;
    margin: 8px auto;
}

header img {
    animation: bordaCamaleao 4s infinite;
    border: 2px solid var(--primaria);
    border-radius: 50%;
    filter: drop-shadow(2px 2px 4px var(--bg1));
    height: 96px;
    width: 96px;
    transition: transform .8s cubic-bezier(.42,0,1,1);

}

header img:hover{
    transform: rotateY(360deg);
}

#habilidades article {
    background-color: var(--bg1);
    display: inline-block;
    display: flex;
    min-width: calc (50% - 80px);
    vertical-align: middle;
    min-height: (50% -80px);
}

a {
    color: inherit;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    color: black;
} 

a[href*="tel"]::before {
    content: '\0260E';
    margin-right: 4px;

ul,
ol {
    list-style: none;
}

[class*="-item"]
 {
    background-color: var(--bg2);
    border-radius: 32px;
    margin-bottom: 16px;
    padding: var(--padding);
}


.ano {
    color: var(--bg1);
    display: block;
    font-style: italic  ;
}



#meuFooter {
    background-color: turquoise;
    text-transform: unset;
}

[class*="-item"]:last-child {
    background-color: var(--bg3)
}



[class*="-item"]:first-of-type  {
    background-color: var(--bg1);

}

[class*="-item"]:nth-child(odd)  {
  background-color: var (--primaria)

}

@keyframes bordaCamaleao {
    0% {
        border: 2px solid blue;
    }

    25% {
        border: 2px solid blue;
    }

    50% {
        border: 2px solid red;
    }

    75% {
        border: 2px solid yellow;
    }

    100% {
        border: 2px solid green;
    }
}


/*
* {

     border: 1px dotted red;
} 
    background-color: rgba(255, 0, 0, 0.05); */

    
